body{
  background-image: url(../assets/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color:#e0e8ff ;
  /* margin: 5px; */
}

.solely {
  /* position: relative; */
  /* bottom: 30vh; */
  /* border: solid; */
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.summary {
  top: 50px;
  width: 400px;
  
  /* margin-top: -24px; */
  border-radius: 8px;
  background-color: white;
  /* height: 600px; */
}

.bcn {
  padding-top: 20px;
}
.btn {
  width: 250px;
  height: 45px;
  background-color: blue;
  color: white;
  border-radius: 8px;
  border: none;
}
.bnn {
  width: 250px;
  height: 45px;
  background-color: rgb(219, 218, 248);
  /* padding-top: 20px; */
  /* color: white; */
  border-radius: 8px;
  border: none;
}
.person {
  border-radius: 8px 8px 0px 0px;
  width: 400px;
}
.imgs {
  width: 98.5vw;
}
.music {
  width: 40px;
  height: 40px;
  padding-top: 20px;
}
.plan {
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
  border-radius: 8px;
  width: 300px;
  background-color: rgb(219, 218, 248);
}
:hover.a {
  padding-top: 10px;
  text-decoration: underline;
  font-size: 18px;
}
.a {
  padding-top: 10px;
  text-decoration: underline;
  font-weight: 600;
  color: blue;
}
.butn {
  padding-top: 20px;
}
@media (max-width: 500px) {
  body{
    background-image: url(../assets/pattern-background-mobile.svg);
    background-repeat: no-repeat;
  background-size: contain;

  }
  .person{
    width: 100%;
  }
  .solely {
    
    margin: 30px;
  }
  .summary{
    /* border: solid; */
    margin-top: 4rem;

  }
  .plan {
    display: flex;
    justify-content: space-around;
    margin: auto ;
    border-radius: 8px;
    width: 95%;
    background-color: rgb(219, 218, 248);
    /* border: solid; */
  }
 
}
@media (max-width: 900px) {
 body{
     margin: auto ;
 } 
 
}
